body {
font-family: sans-serif;  
font-weight: bolder;
font-size: 20px;
background-color: rgb(217, 255, 0);
}
h1, h2 {
color: gray;
}
h1 {
border-bottom: 1px solid black;
}
p {
color: maroon;
}
em {
font-family: serif;  
}
.greentea { 
color: green;
}
.raspberry {
color: blue;
}
.blueberry {
color: purple;
}
.hotpink {
color: hotpink;
}
.red {
color: red;
}
a {
text-decoration: none;
}
